In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
orders = pd.read_excel("E-Commerce Sales Data.xlsx")

In [3]:
orders.head()

,Order Id,Date,Category,Market,Region,Customer Id,Name,Segment,City,State,Country,ZIP Code,Order Item Total,Quantity,Price,Profit Margin,Profit,Sales
0,61558,2017-06-17,Camping & Hiking,LATAM,South America,568,Sean,Consumer,Caguas,PR,Puerto Rico,725,269.980011,1,299.980011,0.261,78.290001,800.000000
1,57472,2017-04-18,Camping & Hiking,LATAM,South America,3341,Carol,Consumer,Caguas,PR,Puerto Rico,725,269.980011,1,299.980011,-0.054,-16.200001,800.000000
2,59898,2017-05-24,Camping & Hiking,LATAM,Central America,7459,Mary,Consumer,Mayaguez,PR,Puerto Rico,680,263.980011,1,299.980011,0.039,11.620000,800.000000
3,59898,2017-05-24,Camping & Hiking,LATAM,Central America,7459,Mary,Consumer,Mayaguez,PR,Puerto Rico,680,260.980011,1,299.980011,-0.011,-3.390000,800.000000
4,58644,2017-06-05,Hunting & Shooting,LATAM,Central America,10740,Mary,Consumer,Caguas,PR,Puerto Rico,725,130.490005,1,149.990005,-0.638,-95.650002,149.990005